<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Random Word Generator</title>
</head>

<body style="text-align: center;">
    <p class="lead" style="margin-top:200px; font-weight:100;">Random Word (attempt #{{request.session.counter}})</p>
    <h1 class="display-1"> {{ request.session.random_word }} </h1><br>
    <form action="/random_word" method="POST">
        {% csrf_token %}
        <button type="submit" name="generate" id="generate" class="btn btn-outline-primary">Generate!</button>
        <button name="reset" id="reset" class="btn btn-outline-danger"><a href="/reset" style="text-decoration:none;color:red;">Reset!</a></button>
    </form>
</body>

</html>